<%- include('../partials/header')%>

<section class="flex-container">
  <div class="content">
    <ul>
      <li> <a href="#">overview</a> </li>
      <li> <a href="#">structure</a> </li>
      <li> <a href="#">surface</a> </li>
    </ul>
  </div>

  <h1> <%=foundPlanet.name%> </h1>

  <div id="overview">
    <p><%=foundPlanet.overview.content%></p>
    <p>Source: <a target="_blank" href="<%=foundPlanet.overview.source%>">Wikipedia</a> </p>
  </div>

  <div class="hide" id="structure">
    <p><%=foundPlanet.structure.content%></p>
    <p>Source: <a target="_blank" href="<%=foundPlanet.structure.source%>">Wikipedia</a> </p>
  </div>

  <div class="hide" id="surface">
    <p><%=foundPlanet.geology.content%></p>
    <p>Source: <a target="_blank" href="<%=foundPlanet.geology.source%>">Wikipedia</a> </p>
  </div>

  <div class="stats">
    <p>rotation time: <span><%=foundPlanet.rotation%></span></p>
    <p>revolution time: <span><%=foundPlanet.revolution%></span></p>
    <p>radius: <span><%=foundPlanet.radius%></span></p>
    <p>average temp: <span><%=foundPlanet.temperature%></span></p>
  </div>
</section>

<%- include('../partials/footer')%>
